#root {
  width: 100%;
  height: 100%;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  --brown1: #e4cdaf;
  --brown2: #5b3a29;
  --brown3: #a37862;
  --green1: #5d7951;
  --green2: #79986c;
  --white: #ffffff;
  color: var(--white);
  background-color: var(--brown1);
  overflow: hidden; /* Prevent scrolling */
}

.container-home {
  padding: 20px;
}

.column {
  float: left;
}

.column-left {
  width: 26.5%;
}

.column-right {
  width: 73.5%;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.topnav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.home-page {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  padding-top: 10;
}

.link-button-1,
.link-button-2,
.link-button-3,
.link-button-4 {
  background-color: #5d7951;
  /* height: 580px; */
  height: calc(100vh - 278px);
  width: calc(73.5vw / 4 - 52px);
  background-size: calc(73.5vw / 4 - 52px + 200px) calc(100vh - 278px + 100px),
    cover;
  background-position: center, center;
  box-shadow: 0 2px 15px -2px var(--brown2);
  color: #5b3a29;
  font-size: calc(1vw);
  font-weight: bold;
  margin: 20px;
  margin-top: 0;
}

.link-button-1:hover,
.link-button-2:hover,
.link-button-3:hover,
.link-button-4:hover {
  transform: scale(1.03);
}

.link-button-1 {
  background-image: url("transparent-text-field.png"),
    url("../../assets/IMG_9170.jpg");
}

.link-button-2 {
  background-image: url("transparent-text-field.png"),
    url("../../assets/IMG_9172.jpg");
}

.link-button-3 {
  background-image: url("transparent-text-field.png"),
    url("../../assets/IMG_9171.jpg");
}

.link-button-4 {
  background-image: url("transparent-text-field.png"),
    url("../../assets/IMG_9173.jpg");
}
