#root {
  width: 100%;
  height: 100%;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  --brown1: #e4cdaf;
  --brown2: #5b3a29;
  --brown3: #a37862;
  --green1: #5d7951;
  --green2: #79986c;
  --white: #ffffff;
  color: var(--white);
  background-color: var(--brown1);
  overflow: hidden; /* Prevent scrolling */
}

.container-home {
  padding: 20px;
}

.column {
  float: left;
}

.column-left {
  width: 400px;
}

.column-right {
  width: calc(100vw - 400px);
  margin-top: 0;
  padding-top: 0;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align children in a column */
  align-items: flex-start; /* Align children to the start of the column (left) */
  justify-content: flex-start; /* Align children to the top of the container */
}

.topnav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.home-page {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  padding-top: 10;
}

.link-button-1,
.link-button-2,
.link-button-3,
.link-button-4 {
  background-color: #5d7951;
  height: 580px;
  width: 225px;
  background-size: 430px, cover;
  background-position: center, center;
  box-shadow: 0 2px 15px -2px var(--brown2);
  color: #5b3a29;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  margin-top: 0;
}

.link-button-1 {
  background-image: url("transparent-text-field.png"), url("IMG_9170.jpg");
}

.link-button-2 {
  background-image: url("transparent-text-field.png"), url("IMG_9172.jpg");
}

.link-button-3 {
  background-image: url("transparent-text-field.png"), url("IMG_9171.jpg");
}

.link-button-4 {
  background-image: url("transparent-text-field.png"), url("IMG_9173.jpg");
}
