.ingredient-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 250px);
  font-size: x-large;
  width: calc(100vw - 40px);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.liste-titel {
  font-style: italic;
  color: var(--green2);
}
