.img-a {
  width: 350px;
  height: 170px;
  object-fit: cover;
  margin-bottom: 0px;
}

.text-a {
  margin: 7px;
  color: var(--green2);
  font-weight: bold;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.polaroid {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  width: 400px;
  transition: 0.25s;
}

.polaroid:hover {
  box-shadow: 0 2px 15px -2px var(--brown2);
}

.refresh-button {
  margin: 0px;
  cursor: pointer;
  width: 100%;
  background-color: var(--green1);
}

.refresh-button:hover {
  background-color: var(--green2);
}
