.img-a {
  width: calc(26.5vw - 50px);
  height: 170px;
  height: calc((100vh - 435px) / 2 - 40px);
  object-fit: cover;
  margin-bottom: 0px;
}

.text-a {
  margin: 7px;
  color: var(--green2);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto; */
}

.polaroid {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 10px;
  height: calc((100vh - 435px) / 2);
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  width: calc(26.5vw);
  transition: 0.25s;
}

.polaroid:hover {
  box-shadow: 0 2px 15px -2px var(--brown2);
}

.refresh-button {
  margin: 0px;
  cursor: pointer;
  width: 100%;
  background-color: var(--green1);
}

.refresh-button:hover {
  background-color: var(--green2);
}
