/* Search Bar Container */
.search-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Search Container to group input and results */
.search-container {
  position: relative;
  margin: 10px;
  width: 100%; /* Set desired width */
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input Field */
.search-input {
  margin: 0;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 2px solid var(--green1);
  /* Remove border to connect visually with results */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
  z-index: 1;
  color: var(--green1);
}

/* Focus state for Input Field */
.search-input:focus {
  border-color: var(--brown2);
  color: var(--brown2);
}

.search-input.has-results {
  border-color: var(--brown2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  color: var(--brown2);
}

/* Search Results List */
.search-results {
  list-style-type: none; /* Removes bullet points */
  margin: 0; /* Remove default margin */
  padding: 10px;
  width: 100%;
  max-width: 400px;
  background-color: var(--brown2);
  border: 2px solid var(--brown2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
}

/* Individual Search Result Item */
.search-results li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  z-index: 1000;
}

/* Hover effect for Search Result Item */
.search-results li:hover {
  background-color: var(--brown3);
}
