#root {
  width: 100%;
  height: 100%;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  --brown1: #e4cdaf;
  --brown2: #5b3a29;
  --brown3: #a37862;
  --green1: #5d7951;
  --green2: #79986c;
  --white: #ffffff;
  color: var(--white);
  background-color: var(--brown1);
  overflow: hidden; /* Prevent scrolling */
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex; /* Optional: helps with layout */
  justify-content: center; /* Optional: centers content horizontally */
  align-items: center; /* Optional: centers content vertically */
  background-color: var(--brown1);
  overflow: hidden; /* Prevent scrolling */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.card {
  padding: 2em;
}

.container {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Align items with space between them */
  width: 100%;
}
.container-vertical {
  flex-direction: column; /* Change direction to vertical stacking */
  height: 100%; /* Ensure the container extends to fill parent vertically */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space out items across the width */
  align-items: center; /* Vertically align items if they have varying heights */
  width: 100%; /* Occupy the entire width of the parent container */
  box-sizing: border-box; /* To include padding and border in width/height calcs */
}

.container-vertical img {
  width: calc(100% - 20px);
  height: 200px; /* Maintain aspect ratio */
  object-fit: cover; /* Fit image within its container */
}

.container-fullscreen {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 80px); /* Make the container as wide as the viewport */
  margin: 20px; /* Ensure no default margin */
  padding: 20px; /* Ensure no default padding */
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box; /* Include padding and border in element's total width */
}

.container-scrollable {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack items vertically, change to row if horizontal scroll is desired */
  justify-content: flex-start; /* Align items starting from the top or left */
  align-items: stretch; /* Stretch items to fill container's width */
  gap: 10px; /* Space between items */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling, adjust as needed */
  max-height: calc(
    100vh - 320px
  ); /* Set a fixed height for vertical scrolling (adjust as needed) */
  /* Add any additional necessary styling */
  background-color: var(--brown3);
  width: calc(100vw -40px);
}

.container-scrollable-wrap {
  display: flex; /* Use flexbox layout */
  flex-direction: row; /* Stack items vertically, change to row if horizontal scroll is desired */
  justify-content: flex-start; /* Align items starting from the top or left */
  align-items: stretch; /* Stretch items to fill container's width */
  gap: 10px; /* Space between items */
  overflow-y: auto; /* Enables vertical scrolling */
  max-height: calc(
    100vh - 8cm
  ); /* Set a fixed height for vertical scrolling (adjust as needed) */
  max-width: 100vw;
  background-color: var(--brown1);
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.item {
  padding: 10px;
  border: 1px solid #333;
  background-color: var(--green1);
}

.button-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space links evenly within the container */
  align-items: stretch; /* Ensure links stretch to fill the container height */
  gap: 20px; /* Optional: space between buttons for visual separation */
  width: 100%; /* Can be full width or specific units */
  padding: 10px;
  margin: 10px;
}

.flexible-link {
  flex: 1 1 auto; /* Allows links to grow and shrink equally */
  min-width: 50px; /* Set your desired minimum width */
  min-height: 50px; /* Set your desired minimum height */
  text-align: center; /* Center the button text horizontally */
}

.flexible-button {
  width: 100%; /* Button fills the width of its link container */
  height: 100%; /* Button fills the height of its link container */
  padding: 10px; /* Internal padding for content */
  box-sizing: border-box; /* Include padding and border in size calculations */
  margin: 0;
}

.squareButton {
  display: inline-block;
  padding: 20px;
  width: 270px; /* Adjust width as needed */
  height: 270px; /* Adjust height as needed */
  background-color: var(--green1); /* Light gray background color */
  color: var(--white); /* Text color */
  border: none;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s; /* Animation for interactive feel */
  margin: 10px; /* Padding to the side */
  border-radius: 8px;
  border: 1px solid transparent;
}

.squareButton:hover {
  transform: scale(1.05); /* Slight lift on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
  background-color: var(--green2);
}

.squareButton:active {
  transform: translateY(0px); /* No lift when active */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Pressed effect */
}

.big-header {
  font-size: 2cm;
  font-weight: bold;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: var(--brown2);
}

.footer-bar {
  padding: 20px; /* Padding around the content */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensures the footer is above other content */
  background-color: var(--brown3);
  box-shadow: 0 2px 15px -2px var(--brown2);
}

.footer-links {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox to align items */
  justify-content: flex-start; /* Align items to the left */
  gap: 15px; /* Add space between items */
}

.footer-links li {
  display: inline; /* Inline items */
}

.footer-links a {
  color: white; /* White text color */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Adjust font size */
}

.footer-links a:hover {
  color: var(--green2); /* Underline on hover for indication */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--brown2);
  cursor: pointer;
  transition: 0.25s;
  margin: 20px;
  color: var(--white);
}

button:hover {
  transform: scale(1.05);
}

.text-with-bg {
  /* position: absolute; Position relative to .recipe-box */
  top: 600px; /* Align to the bottom of the box */
  left: 0; /* Align to the left edge */
  width: 95%; /* Cover the full width of the box */
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #ffffff; /* Text color */
  padding: 10px; /* Space around the text */
  /* box-sizing: border-box; Include padding in the element's total width and height */
}

.image-button:hover {
  transform: scale(1.05);
}

.add-recipe-container {
  width: 100%;
  max-height: 80vh; /* Maximum height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 0 auto;
  padding: 20px;
  background-color: var(--brown1);
}

.input-field,
.textarea-field,
.select-field {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-file {
  margin-bottom: 15px;
}

.upload-button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: var(--brown2);
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.upload-button:hover {
  background-color: var(--brown3);
}

.form-group,
.ingredient-group {
  margin-bottom: 20px;
}

.form-group-inline {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-evenly;
}

.form-group-inline label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  background-color: var(--brown2);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.action-button:hover {
  background-color: var(--brown3);
}

.textarea-field {
  width: 90%;
  height: 150px; /* Fixed height */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none; /* Disable resizing */
}

ul {
  list-style-type: none;
}

.header-bar {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e4cdaf;
  box-shadow: 0 2px 25px -2px var(--brown2);
}

.image-button:hover {
  transform: scale(1.05);
}

.add-recipe-container {
  width: 100%;
  max-height: 80vh; /* Maximum height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 0 auto;
  padding: 20px;
  background-color: var(--brown1);
}

.input-field,
.textarea-field,
.select-field {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-file {
  margin-bottom: 15px;
}

.upload-button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: var(--brown2);
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.upload-button:hover {
  background-color: var(--brown3);
}

.form-group,
.ingredient-group {
  margin-bottom: 20px;
}

.form-group-inline {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-evenly;
}

.form-group-inline label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  background-color: var(--brown2);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.action-button:hover {
  background-color: var(--brown3);
}

.textarea-field {
  width: 90%;
  height: 150px; /* Fixed height */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none; /* Disable resizing */
}
